<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <!-- Link to CSS file -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block content %} <!-- Start of content block --> 
    <div id="particles-js"></div>
    
    <div class="container">
        <h1>Welcome to the Attendance System</h1>
        <h3>{{ mess }}</h3>
        <h3>Total Registered Users: {{ totalreg }}</h3>
        <h3>Date: {{ datetoday2 }}</h3>
        
        <h2>Current Attendance</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Roll</th>
                <th>Time</th>
            </tr>
            {% for name, roll, time in zipped_data %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ roll }}</td>
                <td>{{ time }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <a href="{{ url_for('start') }}">Start Attendance</a>
        <a href="{{ url_for('add') }}">Register New User</a>
        <a href="{{ url_for('attendance') }}">View Attendance</a>
    </div>
    
    <!-- Link to JS file -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- <script src="script.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %} <!-- End of content block -->
</body>
</html>
